{% extends "menu_base_generic.html" %}

{% block content %}

<div class="col-md-9 cart-items">
    <h1 class="continue">Order {{ order_code }}</h1>
    {% for item in order_detail %}
    <div class="order_list_items">
        <div class="cart-header center_inside">
            <div class="cart-sec simpleCart_shelfItem">
                <div class="cart-item cyc">
                    <img src="{{ item.product.image.url }}" class="img-responsive" alt=""/>
                </div>
                <div class="cart-item-info">
                    <h2><a href="{% url 'product_details' item.product.id %}">{{ item.product.name }}</a></h2>
                    <ul class="qty">
                        <li><h3>Price per serve : ${{ item.price }}</h3></li>
                        <li><h3>Quantity : {{ item.amount }}</h3></li>
                    </ul>
                </div>
            </div>
            <br/>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
