{% extends "menu_base_generic.html" %}
{% load i18n %}

{% block content %}

<div class="col-md-9 det">
    <h2><span>{% trans 'My profile' %}</span></h2>
    <div class="registration_form">
        <!-- Form -->
        <div>
            <label>{% trans 'Full Name' %}</label>
            <input value="{{user.username}}" type="text" tabindex="1" required autofocus>
        </div>
        <div>
            <label>{% trans 'Phone Number' %}</label>
            <input value="{{user.customer.phone_number}}" type="text" tabindex="2" required autofocus>
        </div>
        <div>
            <label>{% trans 'Email' %}</label>
            <input value="{{user.email}}" type="email" tabindex="3" required>
        </div>
    </div>
</div>
{% endblock %}
